*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a, a:link, a:visited, a:focus, a:hover, a:active{
  text-decoration:none;
  color: #d9d9d9; 
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  padding: 4rem 2rem 2rem 2rem;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}